# Importing

Importing the necessary libraries

In [116]:
# libraries for data manipulation and cleaning
import numpy as np
import pandas as pd
import chardet

# libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# libraries for machine learning

# libraries used for better formatting
from IPython.display import Markdown, display

Importing the files

In [117]:
folder = "/Users/natequan/Desktop/Spring2023/STAT4185/FinalProject/form1data/"

with open(f"{folder}/circuits.csv", 'rb') as f:
    result = chardet.detect(f.read())

files = [
    'circuits.csv',
    'constructor_results.csv',
    'constructors.csv', 
    'constructor_standings.csv',
    'drivers.csv',
    'driver_standings.csv',
    'lap_times.csv',
    'pit_stops.csv',
    'qualifying.csv',
    'races.csv',
    'results.csv',
    'status.csv'
    ]

df_dict = {}

for file in files:
    path = f"{folder}{file}"
    split_file = file.split(".")
    df_name = split_file[0]
    df_dict[df_name] = pd.read_csv(path, encoding = result['encoding'])

for key in df_dict.keys():
    print(f"{key} = {df_dict[key].shape}")

circuits = (77, 9)
constructor_results = (12200, 5)
constructors = (211, 5)
constructor_standings = (12961, 7)
drivers = (857, 9)
driver_standings = (33942, 7)
lap_times = (541113, 6)
pit_stops = (9773, 7)
qualifying = (9635, 9)
races = (1102, 18)
results = (25900, 18)
status = (139, 2)

# Cleaning and Manipulating the Data

Shows info on all 13 datasets

In [118]:
for key in df_dict.keys():
    display(Markdown(f'**<u>{key}</u>**'))
    print(df_dict[key].info())

**<u>circuits</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB
None

**<u>constructor_results</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12200 entries, 0 to 12199
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   constructorResultsId  12200 non-null  int64
 1   raceId                12200 non-null  int64
 2   constructorId         12200 non-null  int64
 3   points                12200 non-null  float64
 4   status                12200 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 476.7+ KB
None

**<u>constructors</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB
None

**<u>constructor_standings</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12961 entries, 0 to 12960
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  12961 non-null  int64
 1   raceId                  12961 non-null  int64
 2   constructorId           12961 non-null  int64
 3   points                  12961 non-null  float64
 4   position                12961 non-null  int64
 5   positionText            12961 non-null  object
 6   wins                    12961 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 708.9+ KB
None

**<u>drivers</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.4+ KB
None

**<u>driver_standings</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33942 entries, 0 to 33941
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  33942 non-null  int64
 1   raceId             33942 non-null  int64
 2   driverId           33942 non-null  int64
 3   points             33942 non-null  float64
 4   position           33942 non-null  int64
 5   positionText       33942 non-null  object
 6   wins               33942 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB
None

**<u>lap_times</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541113 entries, 0 to 541112
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        541113 non-null  int64
 1   driverId      541113 non-null  int64
 2   lap           541113 non-null  int64
 3   position      541113 non-null  int64
 4   time          541113 non-null  object
 5   milliseconds  541113 non-null  int64
dtypes: int64(5), object(1)
memory usage: 24.8+ MB
None

**<u>pit_stops</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9773 entries, 0 to 9772
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        9773 non-null   int64
 1   driverId      9773 non-null   int64
 2   stop          9773 non-null   int64
 3   lap           9773 non-null   int64
 4   time          9773 non-null   object
 5   duration      9773 non-null   object
 6   milliseconds  9773 non-null   int64
dtypes: int64(5), object(2)
memory usage: 534.6+ KB
None

**<u>qualifying</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9635 entries, 0 to 9634
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9635 non-null   int64
 1   raceId         9635 non-null   int64
 2   driverId       9635 non-null   int64
 3   constructorId  9635 non-null   int64
 4   number         9635 non-null   int64
 5   position       9635 non-null   int64
 6   q1             9627 non-null   object
 7   q2             9475 non-null   object
 8   q3             9317 non-null   object
dtypes: int64(6), object(3)
memory usage: 677.6+ KB
None

**<u>races</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1102 non-null   int64
 1   year         1102 non-null   int64
 2   round        1102 non-null   int64
 3   circuitId    1102 non-null   int64
 4   name         1102 non-null   object
 5   date         1102 non-null   object
 6   time         1102 non-null   object
 7   url          1102 non-null   object
 8   fp1_date     1102 non-null   object
 9   fp1_time     1102 non-null   object
 10  fp2_date     1102 non-null   object
 11  fp2_time     1102 non-null   object
 12  fp3_date     1102 non-null   object
 13  fp3_time     1102 non-null   object
 14  quali_date   1102 non-null   object
 15  quali_time   1102 non-null   object
 16  sprint_date  1102 non-null   object
 17  sprint_time  1102 non-null   object
dtypes: int64(4), object(14)
memory usage: 155.1+ KB
None

**<u>results</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25900 entries, 0 to 25899
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25900 non-null  int64
 1   raceId           25900 non-null  int64
 2   driverId         25900 non-null  int64
 3   constructorId    25900 non-null  int64
 4   number           25900 non-null  object
 5   grid             25900 non-null  int64
 6   position         25900 non-null  object
 7   positionText     25900 non-null  object
 8   positionOrder    25900 non-null  int64
 9   points           25900 non-null  float64
 10  laps             25900 non-null  int64
 11  time             25900 non-null  object
 12  milliseconds     25900 non-null  object
 13  fastestLap       25900 non-null  object
 14  rank             25900 non-null  object
 15  fastestLapTime   25900 non-null  object
 16  fastestLapSpeed  25900 non-null  object
 17  statusId         25900 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB
None

**<u>status</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    int64
 1   status    139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB
None

Null values in this dataset are listed as '\N', so we need to replace this with NaN values

In [119]:
for key in df_dict.keys():
    df_dict[key] = df_dict[key].replace('\\N', np.nan)

Converting the "milliseconds" field in the lap_times df into seconds, in order to get the lap time in a numerical field.

In [120]:
df_dict['lap_times']['milliseconds'] = df_dict['lap_times']['milliseconds']/1000
df_dict['lap_times'].rename(columns = {'milliseconds': 'lap_time(seconds)'}, inplace = True)

Getting the slowest, average, and fastest lap time per racer per each race.

In [121]:
lap_vals = df_dict['lap_times'].groupby(['raceId', 'driverId']).agg({'lap_time(seconds)':['min', 'max', 'mean']}).reset_index()
lap_vals.columns = lap_vals.columns.map('_'.join)

lap_vals.rename(columns = {'raceId_': 'raceId', 'driverId_':'driverId', 'lap_time(seconds)_min':'fastest_lap',
                            'lap_time(seconds)_max':'slowest_lap', 'lap_time(seconds)_mean':'average_lap'}, inplace = True)

lap_vals.head()

   raceId  driverId  fastest_lap  slowest_lap  average_lap
0       1         1       89.020      153.309    97.563759
1       1         2       88.283      157.754    97.635672
2       1         3       87.706      155.699    97.612172
3       1         4       88.712      153.045    97.597638
4       1         6       89.923      104.899    91.822235

Cleaning the qualifying table: converting the q1, q2, and q3 times into a numerical seconds field.

In [122]:
def time_to_sec(time_str):
    time_str = str(time_str)
    time_list = time_str.split(':')
    if len(time_list) != 2:
        return np.nan
    else:
        min = time_list[0]
        sec = time_list[1]
    total_sec = int(min) *60 + float(sec)
    return total_sec

In [123]:
df_dict['qualifying']['q1'] = df_dict['qualifying']['q1'].apply(time_to_sec)
df_dict['qualifying']['q2'] = df_dict['qualifying']['q2'].apply(time_to_sec)
df_dict['qualifying']['q3'] = df_dict['qualifying']['q3'].apply(time_to_sec)

Converting the milliseconds field of the pitstops table to seconds to make it more usable

In [124]:
df_dict['pit_stops']['milliseconds'] = df_dict['pit_stops']['milliseconds'] / 1000
df_dict['pit_stops'].rename(columns = {'milliseconds':'pit_stop_seconds'}, inplace = True)

Creating a new pitstop df that counts the amount of pitstops per race, and total pitstop time in a race

In [125]:
ps = df_dict['pit_stops'].groupby(['raceId', 'driverId']).agg({'stop':'max', 'pit_stop_seconds':'sum'}).reset_index()

ps.rename(columns = {'stop':'#_of_pit_stops','pit_stop_seconds':'total_time_in_pit'}, inplace = True)

ps.head()

   raceId  driverId  #_of_pit_stops  total_time_in_pit
0     841         1               2             46.426
1     841         2               2             48.092
2     841         3               1             23.716
3     841         4               3             72.165
4     841         5               1             24.865

Cleaning the results table. Converting milliseconds to seconds again, converting fastestLapSpeed to float

In [126]:
df_dict['results']['milliseconds']= pd.to_numeric(df_dict['results']['milliseconds'])
df_dict['results']['milliseconds'] = df_dict['results']['milliseconds'] / 1000
df_dict['results'].rename(columns = {'milliseconds':'whole_race_time(sec)'}, inplace = True)

df_dict['results']['fastestLapSpeed'] = pd.to_numeric(df_dict['results']['fastestLapSpeed'])
df_dict['results']['rank'] = pd.to_numeric(df_dict['results']['rank'])

df_dict['results'].rename(columns = {'position': 'final_race_position', 'fastestLap':'fastest_lap#', 'fastestLapSpeed': 'fastest_lap_speed(km/h)',
                                     'rank':'fastest_lap_rank'}, inplace = True)
df_dict['results'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25900 entries, 0 to 25899
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   resultId                 25900 non-null  int64
 1   raceId                   25900 non-null  int64
 2   driverId                 25900 non-null  int64
 3   constructorId            25900 non-null  int64
 4   number                   25894 non-null  object
 5   grid                     25900 non-null  int64
 6   final_race_position      15041 non-null  object
 7   positionText             25900 non-null  object
 8   positionOrder            25900 non-null  int64
 9   points                   25900 non-null  float64
 10  laps                     25900 non-null  int64
 11  time                     7128 non-null   object
 12  whole_race_time(sec)     7127 non-null   float64
 13  fastest_lap#             7438 non-null   object
 14  fastest_lap_rank         7651 non-null   float64
 15  fastestLapTime           7438 non-null   object
 16  fastest_lap_speed(km/h)  7438 non-null   float64
 17  statusId                 25900 non-null  int64
dtypes: float64(4), int64(8), object(6)
memory usage: 3.6+ MB

Creates a dataframe that will be used to store driver data and results. Merges the drivers and drvier_standings tables to get the standings of the drivers after each race. It also gives details about accumulated placement points and how mnay wins so far throughout the season.

In [127]:
dr = pd.merge(df_dict['drivers'], df_dict['driver_standings'], on = 'driverId')
dr.drop(columns = ['number', 'code', 'dob', 'nationality', 'url', 'driverStandingsId', 'positionText'], inplace = True)
dr.rename(columns = {'points': 'season_points', 'position': 'season_position', 'wins': 'season_wins'}, inplace = True)
dr.head(25)

,driverId,driverRef,forename,surname,raceId,season_points,season_position,season_wins
0,1,hamilton,Lewis,Hamilton,18,10.0,1,1
1,1,hamilton,Lewis,Hamilton,19,14.0,1,1
2,1,hamilton,Lewis,Hamilton,20,14.0,3,1
3,1,hamilton,Lewis,Hamilton,21,20.0,2,1
4,1,hamilton,Lewis,Hamilton,22,28.0,3,1
5,1,hamilton,Lewis,Hamilton,23,38.0,1,2
6,1,hamilton,Lewis,Hamilton,24,38.0,2,2
7,1,hamilton,Lewis,Hamilton,25,38.0,4,2
8,1,hamilton,Lewis,Hamilton,26,48.0,1,3
9,1,hamilton,Lewis,Hamilton,27,58.0,1,4
10,1,hamilton,Lewis,Hamilton,28,62.0,1,4
11,1,hamilton,Lewis,Hamilton,29,70.0,1,4
12,1,hamilton,Lewis,Hamilton,30,76.0,1,4
13,1,hamilton,Lewis,Hamilton,31,78.0,1,4
14,1,hamilton,Lewis,Hamilton,32,84.0,1,4
15,1,hamilton,Lewis,Hamilton,33,84.0,1,4
16,1,hamilton,Lewis,Hamilton,34,94.0,1,5
17,1,hamilton,Lewis,Hamilton,35,98.0,1,5
18,1,hamilton,Lewis,Hamilton,38,22.0,3,0
19,1,hamilton,Lewis,Hamilton,969,18.0,2,0
20,1,hamilton,Lewis,Hamilton,36,6.0,3,0
21,1,hamilton,Lewis,Hamilton,37,14.0,3,0
22,1,hamilton,Lewis,Hamilton,39,30.0,1,0
23,1,hamilton,Lewis,Hamilton,40,38.0,2,0
24,1,hamilton,Lewis,Hamilton,41,48.0,1,1

Merges the main, dr dataframe with the races dataframe in order to add more information about the races, such as time and year

In [128]:
dr = pd.merge(dr, df_dict['races'], on = 'raceId')
dr.head()

,driverId,driverRef,forename,surname,raceId,season_points,season_position,season_wins,year,round,...,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,hamilton,Lewis,Hamilton,18,10.0,1,1,2008,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,heidfeld,Nick,Heidfeld,18,8.0,2,0,2008,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,rosberg,Nico,Rosberg,18,6.0,3,0,2008,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,alonso,Fernando,Alonso,18,5.0,4,0,2008,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,kovalainen,Heikki,Kovalainen,18,4.0,5,0,2008,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Converting the date and time fields into numerical fields.

In [129]:
dr.drop(columns = ['year', 'round', 'url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'], inplace = True)

dr['date'] = pd.to_datetime(dr['date'])
dr['race_year'] = dr['date'].dt.year
dr['race_month'] = dr['date'].dt.month
dr['race_day'] = dr['date'].dt.day

dr['time'] = pd.to_datetime(dr['time'])
dr['race_hour'] = dr['time'].dt.hour
dr['race_min'] = dr['time'].dt.minute

dr.drop(columns = ['date', 'time'], inplace = True)
dr.rename(columns = {'name': 'race_name'}, inplace = True)

dr.head()

,driverId,driverRef,forename,surname,raceId,season_points,season_position,season_wins,circuitId,race_name,race_year,race_month,race_day,race_hour,race_min
0,1,hamilton,Lewis,Hamilton,18,10.0,1,1,1,Australian Grand Prix,2008,3,16,4.0,30.0
1,2,heidfeld,Nick,Heidfeld,18,8.0,2,0,1,Australian Grand Prix,2008,3,16,4.0,30.0
2,3,rosberg,Nico,Rosberg,18,6.0,3,0,1,Australian Grand Prix,2008,3,16,4.0,30.0
3,4,alonso,Fernando,Alonso,18,5.0,4,0,1,Australian Grand Prix,2008,3,16,4.0,30.0
4,5,kovalainen,Heikki,Kovalainen,18,4.0,5,0,1,Australian Grand Prix,2008,3,16,4.0,30.0

Merging the main, dr dataframe with the lap_vals dataframe in order to add lap time data for each race.

In [130]:
dr = pd.merge(dr, lap_vals, on = ['driverId', 'raceId'])
dr.head()

,driverId,driverRef,forename,surname,raceId,season_points,season_position,season_wins,circuitId,race_name,race_year,race_month,race_day,race_hour,race_min,fastest_lap,slowest_lap,average_lap
0,1,hamilton,Lewis,Hamilton,18,10.0,1,1,1,Australian Grand Prix,2008,3,16,4.0,30.0,87.452,166.432,98.114069
1,2,heidfeld,Nick,Heidfeld,18,8.0,2,0,1,Australian Grand Prix,2008,3,16,4.0,30.0,87.739,166.678,98.208517
2,3,rosberg,Nico,Rosberg,18,6.0,3,0,1,Australian Grand Prix,2008,3,16,4.0,30.0,88.090,156.683,98.254810
3,4,alonso,Fernando,Alonso,18,5.0,4,0,1,Australian Grand Prix,2008,3,16,4.0,30.0,88.603,170.306,98.410293
4,5,kovalainen,Heikki,Kovalainen,18,4.0,5,0,1,Australian Grand Prix,2008,3,16,4.0,30.0,87.418,175.160,98.424655

In [131]:
dr = pd.merge(dr, df_dict['qualifying'], on = ['raceId', 'driverId'])
dr.head()

,driverId,driverRef,forename,surname,raceId,season_points,season_position,season_wins,circuitId,race_name,...,fastest_lap,slowest_lap,average_lap,qualifyId,constructorId,number,position,q1,q2,q3
0,1,hamilton,Lewis,Hamilton,18,10.0,1,1,1,Australian Grand Prix,...,87.452,166.432,98.114069,1,1,22,1,86.572,85.187,86.714
1,2,heidfeld,Nick,Heidfeld,18,8.0,2,0,1,Australian Grand Prix,...,87.739,166.678,98.208517,5,2,3,5,85.960,85.518,87.236
2,3,rosberg,Nico,Rosberg,18,6.0,3,0,1,Australian Grand Prix,...,88.090,156.683,98.254810,7,3,7,7,86.295,86.059,88.687
3,4,alonso,Fernando,Alonso,18,5.0,4,0,1,Australian Grand Prix,...,88.603,170.306,98.410293,12,4,5,12,86.907,86.188,NaN
4,5,kovalainen,Heikki,Kovalainen,18,4.0,5,0,1,Australian Grand Prix,...,87.418,175.160,98.424655,3,1,23,3,85.664,85.452,87.079

In [132]:
dr.drop(columns = ['qualifyId', 'number'], inplace = True)
dr.rename(columns = {'position': 'qual_position', 'q1': 'q1_time', 'q2': 'q2_time', 'q3': 'q3_time'}, inplace = True)
dr.columns

Index(['driverId', 'driverRef', 'forename', 'surname', 'raceId',
       'season_points', 'season_position', 'season_wins', 'circuitId',
       'race_name', 'race_year', 'race_month', 'race_day', 'race_hour',
       'race_min', 'fastest_lap', 'slowest_lap', 'average_lap',
       'constructorId', 'qual_position', 'q1_time', 'q2_time', 'q3_time'],
      dtype='object')

In [133]:
dr = pd.merge(dr, df_dict['constructors'], on = 'constructorId')
dr.drop(columns = ['url', 'nationality', 'constructorRef'], inplace = True)
dr.rename(columns = {'name':'constructor_name'}, inplace = True)
dr.head()

,driverId,driverRef,forename,surname,raceId,season_points,season_position,season_wins,circuitId,race_name,...,race_min,fastest_lap,slowest_lap,average_lap,constructorId,qual_position,q1_time,q2_time,q3_time,constructor_name
0,1,hamilton,Lewis,Hamilton,18,10.0,1,1,1,Australian Grand Prix,...,30.0,87.452,166.432,98.114069,1,1,86.572,85.187,86.714,McLaren
1,5,kovalainen,Heikki,Kovalainen,18,4.0,5,0,1,Australian Grand Prix,...,30.0,87.418,175.160,98.424655,1,3,85.664,85.452,87.079,McLaren
2,1,hamilton,Lewis,Hamilton,19,14.0,1,1,2,Malaysian Grand Prix,...,0.0,95.462,135.491,98.662554,1,4,95.392,94.627,96.709,McLaren
3,5,kovalainen,Heikki,Kovalainen,19,10.0,4,0,2,Malaysian Grand Prix,...,0.0,95.922,125.997,98.517946,1,3,95.227,94.759,96.613,McLaren
4,1,hamilton,Lewis,Hamilton,20,14.0,3,1,3,Bahrain Grand Prix,...,30.0,95.520,129.676,97.906857,1,3,92.750,91.922,93.292,McLaren

In [134]:
dr = pd.merge(dr, ps, on = ['driverId', 'raceId'])
dr.head()

,driverId,driverRef,forename,surname,raceId,season_points,season_position,season_wins,circuitId,race_name,...,slowest_lap,average_lap,constructorId,qual_position,q1_time,q2_time,q3_time,constructor_name,#_of_pit_stops,total_time_in_pit
0,4,alonso,Fernando,Alonso,969,0.0,14,0,1,Australian Grand Prix,...,109.469,91.728380,1,13,85.872,85.425,NaN,McLaren,1,22.484
1,838,vandoorne,Stoffel,Vandoorne,969,0.0,13,0,1,Australian Grand Prix,...,128.894,92.705582,1,18,86.858,NaN,NaN,McLaren,1,39.562
2,1,hamilton,Lewis,Hamilton,842,22.0,3,0,2,Malaysian Grand Prix,...,124.636,105.531946,1,2,96.861,95.852,94.974,McLaren,4,93.011
3,18,button,Jenson,Button,842,26.0,2,0,2,Malaysian Grand Prix,...,123.347,104.698089,1,4,97.033,95.569,95.200,McLaren,3,67.354
4,1,hamilton,Lewis,Hamilton,841,18.0,2,0,1,Australian Grand Prix,...,113.298,92.975103,1,2,85.384,84.595,84.307,McLaren,2,46.426

In [135]:
dr = pd.merge(dr, df_dict['results'], on = ['driverId', 'raceId'])
dr.drop(columns = ['constructorId_y', 'number', 'grid', 'positionText', 'positionOrder', 'points',
                   'laps', 'time', 'fastestLapTime'], inplace = True)
dr.columns

Index(['driverId', 'driverRef', 'forename', 'surname', 'raceId',
       'season_points', 'season_position', 'season_wins', 'circuitId',
       'race_name', 'race_year', 'race_month', 'race_day', 'race_hour',
       'race_min', 'fastest_lap', 'slowest_lap', 'average_lap',
       'constructorId_x', 'qual_position', 'q1_time', 'q2_time', 'q3_time',
       'constructor_name', '#_of_pit_stops', 'total_time_in_pit', 'resultId',
       'final_race_position', 'whole_race_time(sec)', 'fastest_lap#',
       'fastest_lap_rank', 'fastest_lap_speed(km/h)', 'statusId'],
      dtype='object')

In [136]:
dr = pd.merge(dr, df_dict['status'], on = 'statusId')
dr.head()

,driverId,driverRef,forename,surname,raceId,season_points,season_position,season_wins,circuitId,race_name,...,#_of_pit_stops,total_time_in_pit,resultId,final_race_position,whole_race_time(sec),fastest_lap#,fastest_lap_rank,fastest_lap_speed(km/h),statusId,status
0,4,alonso,Fernando,Alonso,969,0.0,14,0,1,Australian Grand Prix,...,1,22.484,23392,NaN,NaN,48,17.0,211.938,76,Vibrations
1,811,bruno_senna,Bruno,Senna,863,14.0,11,0,3,Bahrain Grand Prix,...,3,68.511,21325,22,NaN,51,11.0,198.631,76,Vibrations
2,17,webber,Mark,Webber,872,132.0,5,2,14,Italian Grand Prix,...,1,21.556,21539,20,NaN,43,18.0,233.792,76,Vibrations
3,39,karthikeyan,Narain,Karthikeyan,874,0.0,24,0,22,Japanese Grand Prix,...,1,23.227,21588,NaN,NaN,21,22.0,206.190,76,Vibrations
4,840,stroll,Lance,Stroll,1081,2.0,17,0,73,Azerbaijan Grand Prix,...,1,22.059,25561,16,NaN,38,10.0,200.029,76,Vibrations