# Importing

Importing the necessary libraries

In [433]:
# libraries for data manipulation and cleaning
import numpy as np
import pandas as pd
import chardet

# libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# libraries for machine learning

# libraries used for better formatting
from IPython.display import Markdown, display

Importing the files

In [434]:
folder = "/Users/natequan/Desktop/Spring2023/STAT4185/FinalProject/form1data/"

with open(f"{folder}/circuits.csv", 'rb') as f:
    result = chardet.detect(f.read())

files = [
    'circuits.csv',
    'constructor_results.csv',
    'constructors.csv', 
    'constructor_standings.csv',
    'drivers.csv',
    'driver_standings.csv',
    'lap_times.csv',
    'pit_stops.csv',
    'qualifying.csv',
    'races.csv',
    'results.csv',
    'status.csv'
    ]

df_dict = {}

for file in files:
    path = f"{folder}{file}"
    split_file = file.split(".")
    df_name = split_file[0]
    df_dict[df_name] = pd.read_csv(path, encoding = result['encoding'])

for key in df_dict.keys():
    print(f"{key} = {df_dict[key].shape}")

circuits = (77, 9)
constructor_results = (12200, 5)
constructors = (211, 5)
constructor_standings = (12961, 7)
drivers = (857, 9)
driver_standings = (33942, 7)
lap_times = (541113, 6)
pit_stops = (9773, 7)
qualifying = (9635, 9)
races = (1102, 18)
results = (25900, 18)
status = (139, 2)

# Cleaning and Manipulating the Data

Shows info on all 13 datasets

In [435]:
for key in df_dict.keys():
    display(Markdown(f'**<u>{key}</u>**'))
    print(df_dict[key].info())

**<u>circuits</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.5+ KB
None

**<u>constructor_results</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12200 entries, 0 to 12199
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   constructorResultsId  12200 non-null  int64
 1   raceId                12200 non-null  int64
 2   constructorId         12200 non-null  int64
 3   points                12200 non-null  float64
 4   status                12200 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 476.7+ KB
None

**<u>constructors</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   constructorId   211 non-null    int64
 1   constructorRef  211 non-null    object
 2   name            211 non-null    object
 3   nationality     211 non-null    object
 4   url             211 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB
None

**<u>constructor_standings</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12961 entries, 0 to 12960
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  12961 non-null  int64
 1   raceId                  12961 non-null  int64
 2   constructorId           12961 non-null  int64
 3   points                  12961 non-null  float64
 4   position                12961 non-null  int64
 5   positionText            12961 non-null  object
 6   wins                    12961 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 708.9+ KB
None

**<u>drivers</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
 8   url          857 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.4+ KB
None

**<u>driver_standings</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33942 entries, 0 to 33941
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  33942 non-null  int64
 1   raceId             33942 non-null  int64
 2   driverId           33942 non-null  int64
 3   points             33942 non-null  float64
 4   position           33942 non-null  int64
 5   positionText       33942 non-null  object
 6   wins               33942 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB
None

**<u>lap_times</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541113 entries, 0 to 541112
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   raceId        541113 non-null  int64
 1   driverId      541113 non-null  int64
 2   lap           541113 non-null  int64
 3   position      541113 non-null  int64
 4   time          541113 non-null  object
 5   milliseconds  541113 non-null  int64
dtypes: int64(5), object(1)
memory usage: 24.8+ MB
None

**<u>pit_stops</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9773 entries, 0 to 9772
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceId        9773 non-null   int64
 1   driverId      9773 non-null   int64
 2   stop          9773 non-null   int64
 3   lap           9773 non-null   int64
 4   time          9773 non-null   object
 5   duration      9773 non-null   object
 6   milliseconds  9773 non-null   int64
dtypes: int64(5), object(2)
memory usage: 534.6+ KB
None

**<u>qualifying</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9635 entries, 0 to 9634
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9635 non-null   int64
 1   raceId         9635 non-null   int64
 2   driverId       9635 non-null   int64
 3   constructorId  9635 non-null   int64
 4   number         9635 non-null   int64
 5   position       9635 non-null   int64
 6   q1             9627 non-null   object
 7   q2             9475 non-null   object
 8   q3             9317 non-null   object
dtypes: int64(6), object(3)
memory usage: 677.6+ KB
None

**<u>races</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1102 non-null   int64
 1   year         1102 non-null   int64
 2   round        1102 non-null   int64
 3   circuitId    1102 non-null   int64
 4   name         1102 non-null   object
 5   date         1102 non-null   object
 6   time         1102 non-null   object
 7   url          1102 non-null   object
 8   fp1_date     1102 non-null   object
 9   fp1_time     1102 non-null   object
 10  fp2_date     1102 non-null   object
 11  fp2_time     1102 non-null   object
 12  fp3_date     1102 non-null   object
 13  fp3_time     1102 non-null   object
 14  quali_date   1102 non-null   object
 15  quali_time   1102 non-null   object
 16  sprint_date  1102 non-null   object
 17  sprint_time  1102 non-null   object
dtypes: int64(4), object(14)
memory usage: 155.1+ KB
None

**<u>results</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25900 entries, 0 to 25899
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         25900 non-null  int64
 1   raceId           25900 non-null  int64
 2   driverId         25900 non-null  int64
 3   constructorId    25900 non-null  int64
 4   number           25900 non-null  object
 5   grid             25900 non-null  int64
 6   position         25900 non-null  object
 7   positionText     25900 non-null  object
 8   positionOrder    25900 non-null  int64
 9   points           25900 non-null  float64
 10  laps             25900 non-null  int64
 11  time             25900 non-null  object
 12  milliseconds     25900 non-null  object
 13  fastestLap       25900 non-null  object
 14  rank             25900 non-null  object
 15  fastestLapTime   25900 non-null  object
 16  fastestLapSpeed  25900 non-null  object
 17  statusId         25900 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.6+ MB
None

**<u>status</u>**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    int64
 1   status    139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB
None

Null values in this dataset are listed as '\N', so we need to replace this with NaN values

In [436]:
for key in df_dict.keys():
    df_dict[key] = df_dict[key].replace('\\N', np.nan)

Merges the drivers and lap_times tables based on driverId into the base df. This will be the starting dataframe used. This dataframe will be the starting point for future dataframes.

In [437]:
base = pd.merge(df_dict['drivers'], df_dict['lap_times'], on = 'driverId')
base.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,raceId,lap,position,time,milliseconds
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,1,2,1:40.573,100573
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,2,2,1:33.774,93774
2,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,3,2,1:32.900,92900
3,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,4,2,1:32.582,92582
4,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,841,5,2,1:32.471,92471

Converts the milliseconds field to seconds, which gives the lap time in seconds. Then, drops the rows that are unnecessary from this merge

In [438]:
base['lap_time(seconds)'] = base['milliseconds'] / 1000

base.drop(columns = ["driverRef", "number", "url", "milliseconds", "dob"], inplace = True)

base.head()

,driverId,code,forename,surname,nationality,raceId,lap,position,time,lap_time(seconds)
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573
1,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774
2,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900
3,1,HAM,Lewis,Hamilton,British,841,4,2,1:32.582,92.582
4,1,HAM,Lewis,Hamilton,British,841,5,2,1:32.471,92.471

Merges the current main table with the races table on raceId

In [439]:
base = pd.merge(base, df_dict['races'], on = 'raceId')
base.head()

,driverId,code,forename,surname,nationality,raceId,lap,position,time_x,lap_time(seconds),...,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,HAM,Lewis,Hamilton,British,841,4,2,1:32.582,92.582,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,HAM,Lewis,Hamilton,British,841,5,2,1:32.471,92.471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drops the unnecessary columns and renames the rows to make them more specific

In [440]:
base.drop(columns = ['year', 'round', 'url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'], inplace = True)
base.rename(columns={'time_x': 'lap_time', 'time_y': 'race_time', 'name': 'race_name', 'lap': 'lap#'}, inplace = True)
base.head()

,driverId,code,forename,surname,nationality,raceId,lap#,position,lap_time,lap_time(seconds),circuitId,race_name,date,race_time
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,1,Australian Grand Prix,2011-03-27,06:00:00
1,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,1,Australian Grand Prix,2011-03-27,06:00:00
2,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900,1,Australian Grand Prix,2011-03-27,06:00:00
3,1,HAM,Lewis,Hamilton,British,841,4,2,1:32.582,92.582,1,Australian Grand Prix,2011-03-27,06:00:00
4,1,HAM,Lewis,Hamilton,British,841,5,2,1:32.471,92.471,1,Australian Grand Prix,2011-03-27,06:00:00

Merges current main df with the pit_stops df on 3 different variables: driverId, raceId, lap. The how parameter ensures that the records that do not match on these three conditions will be filled in with NaN values.

In [441]:
base = pd.merge(base, df_dict['pit_stops'], on =['driverId', 'raceId'], how = 'outer')
base.head()

,driverId,code,forename,surname,nationality,raceId,lap#,position,lap_time,lap_time(seconds),circuitId,race_name,date,race_time,stop,lap,time,duration,milliseconds
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,1,Australian Grand Prix,2011-03-27,06:00:00,1.0,16.0,17:28:24,23.227,23227.0
1,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,1,Australian Grand Prix,2011-03-27,06:00:00,2.0,36.0,17:59:29,23.199,23199.0
2,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,1,Australian Grand Prix,2011-03-27,06:00:00,1.0,16.0,17:28:24,23.227,23227.0
3,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,1,Australian Grand Prix,2011-03-27,06:00:00,2.0,36.0,17:59:29,23.199,23199.0
4,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900,1,Australian Grand Prix,2011-03-27,06:00:00,1.0,16.0,17:28:24,23.227,23227.0

In [442]:
base.columns

Index(['driverId', 'code', 'forename', 'surname', 'nationality', 'raceId',
       'lap#', 'position', 'lap_time', 'lap_time(seconds)', 'circuitId',
       'race_name', 'date', 'race_time', 'stop', 'lap', 'time', 'duration',
       'milliseconds'],
      dtype='object')

Drop the time and milliseconds columns as they are unnecessary. The milliseconds column is converted to seconds, which gives the lap time in seconds.

In [443]:
base['pit_stop_duration(seconds)'] = base['milliseconds'] / 1000
base.drop(columns = ['time', 'milliseconds'], inplace = True)
base.rename(columns = {'stop': 'pit_stop#', 'duration': 'pit_stop_duration'}, inplace = True)
base.head()

,driverId,code,forename,surname,nationality,raceId,lap#,position,lap_time,lap_time(seconds),circuitId,race_name,date,race_time,pit_stop#,lap,pit_stop_duration,pit_stop_duration(seconds)
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,1,Australian Grand Prix,2011-03-27,06:00:00,1.0,16.0,23.227,23.227
1,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,1,Australian Grand Prix,2011-03-27,06:00:00,2.0,36.0,23.199,23.199
2,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,1,Australian Grand Prix,2011-03-27,06:00:00,1.0,16.0,23.227,23.227
3,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,1,Australian Grand Prix,2011-03-27,06:00:00,2.0,36.0,23.199,23.199
4,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900,1,Australian Grand Prix,2011-03-27,06:00:00,1.0,16.0,23.227,23.227

In [444]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 833226 entries, 0 to 833225
Data columns (total 18 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   driverId                    833226 non-null  int64
 1   code                        765512 non-null  object
 2   forename                    833226 non-null  object
 3   surname                     833226 non-null  object
 4   nationality                 833226 non-null  object
 5   raceId                      833226 non-null  int64
 6   lap#                        833226 non-null  int64
 7   position                    833226 non-null  int64
 8   lap_time                    833226 non-null  object
 9   lap_time(seconds)           833226 non-null  float64
 10  circuitId                   833226 non-null  int64
 11  race_name                   833226 non-null  object
 12  date                        833226 non-null  object
 13  race_time                   682275 non-null  object
 14  pit_stop#                   562200 non-null  float64
 15  lap                         562200 non-null  float64
 16  pit_stop_duration           562200 non-null  object
 17  pit_stop_duration(seconds)  562200 non-null  float64
dtypes: float64(4), int64(5), object(9)
memory usage: 120.8+ MB

Converting the date field into 3 seperate columns: one for year, one for month, and one for day

In [445]:
base['date'] = pd.to_datetime(base['date'])
base['race_year'] = base['date'].dt.year
base['race_month'] = base['date'].dt.month
base['race_day'] = base['date'].dt.day

base.drop(columns = 'date', inplace = True)

base.head()

,driverId,code,forename,surname,nationality,raceId,lap#,position,lap_time,lap_time(seconds),circuitId,race_name,race_time,pit_stop#,lap,pit_stop_duration,pit_stop_duration(seconds),race_year,race_month,race_day
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,1,Australian Grand Prix,06:00:00,1.0,16.0,23.227,23.227,2011,3,27
1,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,1,Australian Grand Prix,06:00:00,2.0,36.0,23.199,23.199,2011,3,27
2,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,1,Australian Grand Prix,06:00:00,1.0,16.0,23.227,23.227,2011,3,27
3,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,1,Australian Grand Prix,06:00:00,2.0,36.0,23.199,23.199,2011,3,27
4,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900,1,Australian Grand Prix,06:00:00,1.0,16.0,23.227,23.227,2011,3,27

Converting the race_time field into 2 seperate columns: one for hours, one for minutes

In [446]:
base['race_time'] = pd.to_datetime(base['race_time'])
base['race_hour'] = base['race_time'].dt.hour
base['race_min'] = base['race_time'].dt.minute

base.drop(columns = 'race_time', inplace = True)

base.head()

,driverId,code,forename,surname,nationality,raceId,lap#,position,lap_time,lap_time(seconds),...,race_name,pit_stop#,lap,pit_stop_duration,pit_stop_duration(seconds),race_year,race_month,race_day,race_hour,race_min
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,...,Australian Grand Prix,1.0,16.0,23.227,23.227,2011,3,27,6.0,0.0
1,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,...,Australian Grand Prix,2.0,36.0,23.199,23.199,2011,3,27,6.0,0.0
2,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,...,Australian Grand Prix,1.0,16.0,23.227,23.227,2011,3,27,6.0,0.0
3,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,...,Australian Grand Prix,2.0,36.0,23.199,23.199,2011,3,27,6.0,0.0
4,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900,...,Australian Grand Prix,1.0,16.0,23.227,23.227,2011,3,27,6.0,0.0

Creates a seperate dataframe: driver_results so that we can use this base dataframe to look at constructor results later as well. To create this, we start by merging the base data from with the results dataframe in df_dict, which gives driver results for the race.

In [447]:
driver_results = pd.merge(base, df_dict['results'], on = ['raceId', 'driverId'])
driver_results.head()

,driverId,code,forename,surname,nationality,raceId,lap#,position_x,lap_time,lap_time(seconds),...,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,...,2,18.0,58,+22.297,5392556,41,8,1:30.314,211.382,1
1,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,...,2,18.0,58,+22.297,5392556,41,8,1:30.314,211.382,1
2,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,...,2,18.0,58,+22.297,5392556,41,8,1:30.314,211.382,1
3,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,...,2,18.0,58,+22.297,5392556,41,8,1:30.314,211.382,1
4,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900,...,2,18.0,58,+22.297,5392556,41,8,1:30.314,211.382,1

Drop columns that are not necessary and rename columns to make it more readable

In [448]:

driver_results['total_race_time'] = driver_results['milliseconds'].astype('float64') / 1000
driver_results.drop(columns = ['resultId', 'number', 'positionText', 'position_y', 'time', 'milliseconds'], inplace = True)
driver_results.rename(columns = {'position_x': 'lap_position', 'grid':'grid_position', 'positionOrder': 'final_position',
                                 'laps':'number_of_laps', 'fastestLap': 'fastest_lap#', 'rank': 'fastest_lap_rank'}, inplace = True)

driver_results.head()

,driverId,code,forename,surname,nationality,raceId,lap#,lap_position,lap_time,lap_time(seconds),...,grid_position,final_position,points,number_of_laps,fastest_lap#,fastest_lap_rank,fastestLapTime,fastestLapSpeed,statusId,total_race_time
0,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,...,2,2,18.0,58,41,8,1:30.314,211.382,1,5392.556
1,1,HAM,Lewis,Hamilton,British,841,1,2,1:40.573,100.573,...,2,2,18.0,58,41,8,1:30.314,211.382,1,5392.556
2,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,...,2,2,18.0,58,41,8,1:30.314,211.382,1,5392.556
3,1,HAM,Lewis,Hamilton,British,841,2,2,1:33.774,93.774,...,2,2,18.0,58,41,8,1:30.314,211.382,1,5392.556
4,1,HAM,Lewis,Hamilton,British,841,3,2,1:32.900,92.900,...,2,2,18.0,58,41,8,1:30.314,211.382,1,5392.556

Add the status table to the driver_results to give meaning to the statusId field in the dataframe

In [449]:
driver_results = pd.merge(driver_results, df_dict['status'], on = 'statusId')

In [450]:
driver_results.head()
driver_results.columns

Index(['driverId', 'code', 'forename', 'surname', 'nationality', 'raceId',
       'lap#', 'lap_position', 'lap_time', 'lap_time(seconds)', 'circuitId',
       'race_name', 'pit_stop#', 'lap', 'pit_stop_duration',
       'pit_stop_duration(seconds)', 'race_year', 'race_month', 'race_day',
       'race_hour', 'race_min', 'constructorId', 'grid_position',
       'final_position', 'points', 'number_of_laps', 'fastest_lap#',
       'fastest_lap_rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId',
       'total_race_time', 'status'],
      dtype='object')

In [455]:
driver_results = driver_results[[
    'driverId', 'code', 'forename', 'surname', 'nationality', 'constructorId', 
    'raceId', 'circuitId','race_name', 'race_year', 'race_month', 'race_day', 
    'race_hour', 'race_min', 'grid_position', 'final_position', 'points', 'total_race_time',
    'lap#', 'number_of_laps', 'lap_position', 'lap_time', 'lap_time(seconds)', 'pit_stop#',
    'pit_stop_duration', 'pit_stop_duration(seconds)', 'fastest_lap#', 'fastest_lap_rank',
    'fastestLapTime', 'fastestLapSpeed', 'statusId', 'status'
]]

driver_results.head()
driver_results.columns

Index(['driverId', 'code', 'forename', 'surname', 'nationality',
       'constructorId', 'raceId', 'circuitId', 'race_name', 'race_year',
       'race_month', 'race_day', 'race_hour', 'race_min', 'grid_position',
       'final_position', 'points', 'total_race_time', 'lap#', 'number_of_laps',
       'lap_position', 'lap_time', 'lap_time(seconds)', 'pit_stop#',
       'pit_stop_duration', 'pit_stop_duration(seconds)', 'fastest_lap#',
       'fastest_lap_rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId',
       'status'],
      dtype='object')

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0    NaN
1                         2      18              2     8.0    NaN
2                         3      18              3     9.0    NaN
3                         4      18              4     5.0    NaN
4                         5      18              5     2.0    NaN
...                     ...     ...            ...     ...    ...
12195                 16695    1100             51     2.0    NaN
12196                 16696    1100            213     1.0    NaN
12197                 16697    1100              6     0.0    NaN
12198                 16698    1100            214     0.0    NaN
12199                 16699    1100              3     0.0    NaN

[12200 rows x 5 columns]